<div id="schedule-meeting-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Schedule a meeting</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="schedule-meeting">
                <form method="post" @submit.prevent="handleSubmit" id="schedule-form">
                    <input id="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                    <div class="form-group">
                        <input type="text" class="form-control" v-model="title" required placeholder="Title">
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" :disabled="is_repeat" :required="!is_repeat" id="daterange" :value="date_range" placeholder="Start date">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-primary" @click="clearDateRange">Clear</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-clock"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" id="start_time" :disabled="all_day" :required="!all_day" placeholder="Start time">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-clock"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" id="end_time" :disabled="all_day" :required="!all_day" placeholder="End time">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="custom-select w-auto" v-model="selected_tz_name">
                            <option v-for="timezone in timezones" :value="timezone.value">{{ timezone.name }}</option>
                        </select>
                    </div>
                    <div class="form-group form-inline">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="all-day" v-model="all_day">
                            <label class="custom-control-label" for="all-day">All day</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="repeat-weekly" v-model="is_repeat">
                            <label class="custom-control-label" for="repeat-weekly">Repeat on</label>
                        </div>
                        <select class="custom-select" v-model="repeat_type" :disabled="!is_repeat" :required="is_repeat">
                            <option value="d">Daily</option>
                            <option value="w">Weekly</option>
                            <option value="m">Monthly</option>
                            <option value="y">Yearly</option>
                        </select>
                        <select class="custom-select" id="week-day" v-if="repeat_type == 'w'" :disabled="!is_repeat" :required="is_repeat" v-model="repeat_day">
                            <option value="0">Sunday</option>
                            <option value="1">Monday</option>
                            <option value="2">Tuesday</option>
                            <option value="3">Wednesday</option>
                            <option value="4">Thursday</option>
                            <option value="5">Friday</option>
                            <option value="6">Saturday</option>
                        </select>
                        <select class="custom-select" v-if="repeat_type == 'm'" :disabled="!is_repeat" :required="is_repeat" v-model="repeat_day">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>30</option>
                        </select>
                        <input type="text" class="form-control" id="repeat_date" v-show="repeat_type == 'y'" :disabled="!is_repeat" :required="is_repeat && repeat_type == 'y'">
                    </div>
                    <div class="form-group">
                        <label>Events</label>
                        <div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" v-model="mute_video" id="video-checkbox">
                                <label class="custom-control-label" for="video-checkbox">Mute Video</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" v-model="mute_audio" id="audio-checkbox">
                                <label class="custom-control-label" for="audio-checkbox">Mute Audio</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" v-model="record_meeting" id="record-checkbox">
                                <label class="custom-control-label" for="record-checkbox">Record Meeting</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" v-model="description" placeholder="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="access_code" readonly placeholder="" :value="access_code">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary" title="Generate Access Code" @click="generateAccessCode">
                                    <i class="fa fa-dice"></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title="Remove Access Code" @click="removeAccessCode">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label class="col-form-label col-md-3">Events Tag</label>
                        <div class="col-md-9">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" v-model="event_tags" value="important" id="important-checkbox">
                                <label class="custom-control-label" for="important-checkbox">Important</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" v-model="event_tags" value="normal" id="normal-checkbox">
                                <label class="custom-control-label" for="normal-checkbox">Normal</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" v-model="event_tags" value="general" id="general-checkbox">
                                <label class="custom-control-label" for="general-checkbox">General</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label class="col-form-label col-md-3">Notification</label>
                        <div class="col-md-9">
                            <select class="custom-select w-auto mr-2" v-model="notification_type">
                                <option>Email</option>
                                <option>SMS</option>
                            </select>
                            <select class="custom-select w-auto mr-2" v-model="notification_minutes">
                                <option value="10">10 Minutes</option>
                                <option value="20">20 Minutes</option>
                            </select>
                        </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <label>Add Guest</label>-->
<!--                        <div class="input-group">-->
<!--                            <input type="text" class="form-control" v-model="guest_name" placeholder="Enter guest Email or Name" @keydown="addGuest">-->
<!--                            <div class="input-group-append">-->
<!--                                <button class="btn btn-primary" type="button" @click="handleAddGuest">-->
<!--                                    Add-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group">
                        <label>Add Guest</label>
                        <v-select @search="fetchGuests" :options="contacts" @option:selected="onGuestSelected" label="email"></v-select>
                    </div>
                    <div class="form-group">
                        <template v-for="(guest, index) in guests">
                            <img v-if="guest.avatar_url" class="avatar mr-2" @click="removeGuest(index)" data-toggle="tooltip" data-placement="top" :title="guest.email" :src="guest.avatar_url">
                            <span v-else class="avatar bg-primary mr-2" @click="removeGuest(index)" data-toggle="tooltip" data-placement="top" :title="guest.email">{{ guest.email[0] }}</span>
                        </template>
                    </div>
                    <div class="form-group">
                        <label>Guest can</label>
                        <div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="everyone-admin" v-model="everyone_as_admin">
                                <label class="custom-control-label" for="everyone-admin">Everyone as admin</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="modify-meeting" v-model="modify_meeting">
                                <label class="custom-control-label" for="modify-meeting">Modify Meeting</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="invite-others" v-model="invite_others">
                                <label class="custom-control-label" for="invite-others">Invite others</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="see-guest-list" v-model="see_guest_list">
                                <label class="custom-control-label" for="see-guest-list">See guest list</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary">Schedule</button>
                        <button class="btn btn-success" type="button" @click="startMeeting" v-if="id">Start</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>