<div class="container-fluid my-profile">
    <div class="row">
        <div class="col-md-3">
            <%= render "users/components/profile" %>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body p-5">
                    <%= render "users/components/menu_tabs" %>
                    <div class="tab-content">
                        <div class="tab-pane fade show active">
                            <%= render "users/components/setting_view", setting_id: "delete", setting_title: t("settings.delete.subtitle") %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% content_for :modals do %>
    <%= render "shared/modals/delete_account_modal", delete_location: delete_user_path %>
<% end %>

<% content_for :scripts do %>
    <script>
        $(".delete-user").click(function (data) {
            document.getElementById("delete-checkbox").checked = false
            $("#delete-confirm").prop("disabled", "disabled")

            if ($(data.target).data("delete") == "temp-delete") {
                $("#perm-delete").hide()
                $("#delete-warning").show()
            } else {
                $("#perm-delete").show()
                $("#delete-warning").hide()
            }
        })

        $("#delete-checkbox").click(function (data) {
            if (document.getElementById("delete-checkbox").checked) {
                $("#delete-confirm").removeAttr("disabled")
            } else {
                $("#delete-confirm").prop("disabled", "disabled")
            }
        })
    </script>
<% end %>