<div class="container-fluid my-profile">
    <div class="row">
        <div class="col-md-3">
            <div class="card profile">
                <div class="desc">
                    <img src="/img/prof1.png" alt="John" style="width:100%">
                    <h3>John Doe</h3>
                    <p class="title">Software Developer</p>
                    <p class="profile-location"><i class="fas fa-map-marker-alt"></i> Mumbai</p>
                    <div class="contact-info">
                        <p><a href="#">johndoe@gmail.com</a></p>
                        <p><a href="#">+91 12455847978</a></p>
                    </div>
                    <div class="about-profile">
                        <p>
                            I am content marketing professional at Google, and graduated with honors from Columbia University with a dual degree in Business Administration and Creative Writing.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <%= render "users/components/setting_view", setting_id: "account", setting_title: t("settings.account.subtitle") %>
        </div>
    </div>
</div>
